<head>Maintenance
The TARDIS is a complex entity with subsystems that needs to be maintained to remain operational.
<br >
During every <b>flight, parts will experience normal wear over time.
<i>Should you find yourself causing damage to your ship, your parts will damage at a faster rate.
<br >
<u>Damaged parts can cause a range of problems from causing a dimensional rift to terminating your ship entirely.
<br >
Should you find one of your parts damaged, you can repair subsystems by replacing the parts
<br >
Each part can be crafted and repaired using the on-board workstations.
Maintaining your ship is essential to its survival and it is not recommended to leave damaged parts operational over an extended period of time.
<br >
<img src="tardis:textures/gui/tutorials/maintanence.png">